__pycache__
/api/ashlegister-env
/api/venv
.env
serviceAccountKey.json
/api/firebase/serviceAccountKey.json

client/.firebaserc
client/firebase.json
client/.firebase/hosting.ZGlzdA.cache
project tracking.txt
