.create-competition {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 15%;
}

.page-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

* {
  margin: 0;
  color: var(--ashesi-maroon);
}


.text-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-section {
  background-color: var(--ashesi-dark);
  height: 93vh;
  width: 60vw;
}



form {
  margin-left: 40px;
}


label {
  display: block;
  justify-self: flex-start;
}

input {
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-left: 5px;
  height: 30px;
  border-radius: 6px;
  border: solid 4px var(--ashesi-maroon);
  margin-bottom: 20px;
  display: block;
}

button:hover {
  cursor: pointer;
}

#create-btn {
  background-color: var(--ashesi-maroon);
  margin-left: 20%;
  margin-right: 10px;

  display: block;
  margin-top: 10px;
  height: 30px;
  width: 180px;
  border: none;
  border-radius: 5px;
  color: var(--ashesi-dark);
  font-weight: bold;
}

#competition_tag,
#competition_title,
#competition_date,
#name {
  background-color: white;
  color: var(--ashesi-maroon);
  border: solid 4px var(--ashesi-maroon);
}


.success {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  font-size: 36px;
  margin-top: 20%;
  font-weight: bold;
}

.add-another-btn{
  color: var(--ashesi-maroon);
  margin-top: 15px;
  font-size: 18px;
  width: 200px;
  height: 50px;
  border: solid 4px var(--ashesi-maroon);
}

.add-another-btn:hover{
  color: var(--ashesi-dark);
  background-color: var(--ashesi-maroon);
  border: solid 4px var(--ashesi-dark);
  cursor: pointer;
}