.dashboard{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}


/* Styling Links from React Router */
.dashboard-item {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 40px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--background-color);
  background-color: var(--main-dark-blue);
  border-radius: 5%;
  border: solid var(--background-color);
}


.dashboard-item:hover {
  color: var(--main-dark-blue);
  background-color: var(--background-color);
  border: solid var(--main-dark-blue);
  cursor: pointer;
}

.add-btns{
  width: 300px;
}


a {
  text-decoration: none;

}

.login-btn,
.dashboard-btn {
  width: 150px;
}