
.Competition{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30px;
  width: 400px;
  border: solid 2px var(--main-dark-blue);
  color: var(--main-dark-blue);
  background-color: var(--background-color);
  margin-bottom: -2px;
}

.competition-name{
  font-size: 18px;
}

.Competition:hover{
  background-color: var(--main-dark-blue);
  border: solid 2px white;
  cursor: pointer;

  .competition-name,
    .competition-date {
      color: white;
    }
  
}

