.create-competition{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top:15%;
}

.page-title{
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

* {
  margin: 0;
  color: var(--main-dark-blue);
}


.text-section {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* .main-section {
  background-color: var(--background-color);
  height: 93vh;
  width: 60vw;
} */



form {
  margin-left: 40px;
}


label {
  display: block;
  justify-self: flex-start;
}

input{
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding-left: 5px;
  height: 30px;
  width: 35vw;
  border-radius: 6px;
  border: solid 4px var(--main-dark-blue);
  margin-bottom: 20px;
  display: block;
}

button:hover {
  cursor: pointer;
}

#create-btn {
  background-color: var(--main-dark-blue);
  margin-left: 20%;
  margin-right: 10px;

  display: block;
  margin-top: 10px;
  height: 30px;
  width: 180px;
  border: none;
  border-radius: 5px;
  color: var(--background-color);
  font-weight: bold;
}

#competition_tag,
#competition_title,
#competition_date{
  background-color: white;
  color: var(--main-dark-blue);
  border: solid 4px var(--main-dark-blue);
}


.success {
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 36px;
  margin-top: 20%;
  font-weight: bold;
}