.power-plug{
  color: var(--main-dark-blue)
}

footer{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 7vh;
  width: 100vw;
  background-color: var(--header-footer-color);

}

.powered{
  margin-right: 30px;
  display: flex;
  align-items: center;
  color: white;
}