

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 100vw;
  background-color: var(--header-footer-color);
  color: var(--header-footer-text-color);
  padding: 3px;

}

.header-logo-container{
  margin-right: calc(50% - 280px);
  margin-left: 15px;
}

.header-logo{
  height: 5vh;
}

.header-logo:hover, .header-logo-container:hover{
  cursor: pointer
}

.app-title{
  color: var(--header-footer-text-color);
  margin-right: auto;
  font-size: 40px;
  font-weight: bold;
}

.prototype{
  margin-left: 30px;
}

.backend-docs{
  margin-left: 10px;
}

.prototype, .backend-docs{
  color: var(--header-footer-text-color);
  font-weight: bold;
  border: solid 2px var(--header-footer-text-color);
  padding: 5px;
  font-size: 0.8rem;
  border-radius: 10px;
  width: 100%x;
}

.prototype:hover, .backend-docs:hover{
  background-color: var(--main-dark-blue);
  border: solid 2px var(--main-dark-blue);
  cursor: pointer;
}

.theme-btn:hover{
  cursor: pointer;
}

