

header{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 7vh;
  width: 100vw;
  background-color: var(--headerfootercolor);
  padding: 3px;

}

.header-logo{
  height: 5vh;
  margin-right: calc(50% - 280px);
  margin-left: 15px;
}

.app-title{
  color: var(--ashesi-maroon);
  margin-right: auto;
  font-size: 40px;
  font-weight: bold;
}

.prototype{
  color: var(--ashesi-maroon);
  border: solid 2px var(--ashesi-maroon);
  padding: 10px;
  border-radius: 10%;
}

.prototype:hover{
  color: var(--headerfootercolor);
  background-color: var(--ashesi-maroon);
  cursor: progress;
}


