@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;300;400;500;600;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
}

/* Colors for light mode [implement in near future] */
:root{
  --main-dark-blue: #4D6A99;
  --background-color: white;
  --header-footer-color: #29292d;
  --header-footer-text-color: white;
}

:root{
  --main-dark-blue: #4D6A99;
  --background-color: #0C151D;
  --header-footer-color: #29292d;
  --header-footer-text-color: white;
}




body{
  font-family: 'Poppins', sans-serif;
  /* font-family: 'Cairo', sans-serif; */
  background-color: black;
  color: white;
}

main{
  display: flex;
  flex-direction: row;
  background-color: green;
}

.fetching-data{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fetching{
  font-weight: bold;
  margin-top: 20%;
  margin-left: 40%;
}

.fetching_icon{
  margin-left: 40%;
  margin-top: -40%;
}

