@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

:root {
  --ashesi-maroon: #AD3537;
  --ashesi-dark: #2B2525;
  --headerfootercolor: #242222;
}

*{
  box-sizing: border-box;
}

body{
  font-family: 'Poppins', sans-serif;
  background-color: black;
  color: white;
}

main{
  display: flex;
  flex-direction: row;
}

.fetching-data{
  display: flex;
  align-items: center;
  justify-content: center;
}

.fetching{
  font-weight: bold;
  margin-top: 20%;
  margin-left: 40%;
}

.fetching_icon{
  margin-left: 40%;
  margin-top: -40%;
}

