

*{
  margin: 0;
  color: var(--main-dark-blue);
}


.login-page{
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-section{
  background-color: var(--main-dark-blue);
  height: 93vh;
  width: calc(20vw);
}

.text-section{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-section{
  background-color: var(--background-color);
  height: 93vh;
  width: 60vw;
}

.ashesi-logo{
  margin-left: 10%;
}

.site-name{
  font-size: 60px;
  color: var(--main-dark-blue);
  font-weight: bold;
  margin-top: 100px;
}

.login-title{
  font-size: 64px;
  color: var(--main-dark-blue);
}

form{
  margin-left: 40px;
}


label{
  display: block;
  justify-self: flex-start;
}

input{
  font-weight: bold;
  font-size: 16px;
  padding-left: 5px;
  height: 30px;
  width: 50vw;
  border-radius: 6px;
  border: solid 4px var(--main-dark-blue);
  margin-bottom: 5px;
  display: block;
}

button{
  margin-top: 5px;
  height: 30px;
  width: 80px;
  margin-right: 5px;
  background-color: var(--main-dark-blue);
  border: none;
  border-radius: 5px;
  color: var(--background-color);
  font-weight: bold;
}

button:hover{
  cursor: pointer;
}

#login-btn{
  background-color: var(--main-dark-blue);
  margin-left: 35%;
  margin-right: 10px;
}

.log-message{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  margin-top: 30%;
}

#email-address,
#password{
  background-color: white;
  color: var(--main-dark-blue);
}



