
.page-title{
  margin-top: 20px;
}

.Races{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}



.race {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 30px;
  width: 400px;
  border: solid 2px var(--ashesi-maroon);
  color: var(--ashesi-maroon);
  background-color: var(--ashesi-dark);
  margin-top: -2px;
}

.race-title {
  font-size: 18px;
}

.race:hover {
  background-color: teal;
  border: solid 2px white;
  cursor: pointer;

  .race-title{
    color: white;
  }

}

.none-yet{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-size: 26px;
  font-weight: bold;
  margin-top: 25%;
}