

*{
  margin: 0;
}


.side-nav-bar{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 5px;

  background-color: var(--ashesi-maroon);
  height: 86vh;
  width: 300px;
}

/* Styling Links from React Router */
.nav-item{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 40px;
  font-size: 16px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--ashesi-dark);
  background-color: var(--ashesi-maroon);
  border-radius: 5%;
  border: solid var(--ashesi-dark);
}

.nav-item:hover{
  color: var(--ashesi-maroon);
  background-color: var(--ashesi-dark);
  border: solid var(--ashesi-maroon);
  cursor: pointer;
}

.home-btn{
  color: var(--ashesi-dark)
}


a{
  text-decoration: none;
}

.login-btn, .dashboard-btn{
  width: 150px;
}













